@font-face {
	font-family: Agency;
	src: url("AGENCY.ttf");
}

@font-face {
	font-family: courier;
	src: url("courier.ttf");
}

@font-face {
	font-family: eng;
	src: url("ENGR.ttf");
}

@font-face {
	font-family: mcor;
	src: url("MTCORSVA.ttf");
}

